{{controller.message}}
<form ng-submit="controller.addCategoryToUser()">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>List of Categories</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{controller.applicationUser.firstName}}</td>
                <td>{{controller.applicationUser.lastName}}</td>
                <td>
                    <select ng-model="controller.applicationUser.categories" ng-options="cat as cat.categoryName for cat in controller.categories" multiple></select>
                </td>
            </tr>
        </tbody>
    </table>
    <button>Add Users</button>
</form>