{{controller.message}}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>First Name</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="au in controller.appUsers">
            <td>
                <a ui-sref="applicationUser({id: au.id})">{{au.firstName}} {{au.lastName}}</a>
            </td>
            <td>
                <a ui-sref="addCategoryToUser({id: au.id})">Add a Category</a>
            </td>
            <td>
                <a ui-sref="addCategoryAndSubCategoryToUser({id: au.id})">Add a Category and Sub Category</a>
            </td>
        </tr>
    </tbody>
</table>