{{controller.message}}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Category Name</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{controller.category.categoryName}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>List of People who teach this (Programming/Music/Porn)</td>
            <td>LastName</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="au in controller.category.applicationUsers">
            <td>
                <a ui-sref="applicationUser({id: au.id})">{{au.firstName}}</a>
            </td>
            <td>{{au.lastName}}</td>
        </tr>
    </tbody>
</table>