{{controller.message}}

<form ng-submit="controller.editSubCategory()">
    <div>
        <label>Sub Category Name</label>
        <input type="text" ng-model="controller.subCategory.subCategoryName" />
    </div>


    <div>
        <label>Pick A Category</label>
        <select ng-model="controller.subCategory.category.id" ng-options="cat.id as cat.categoryName for cat in controller.categories">
            <option value="">{{controller.subCategory.category.categoryName}}</option>
        </select>
    </div>


    <button>Edit Sub Category</button>
</form>
