{{controller.message}}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Sub Category Name</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sc in controller.subCategories">
            <td>
                <a ui-sref="subCategory({id: sc.id})">{{sc.subCategoryName}}</a>
            </td>
            <td>
                <a ui-sref="editSubCategory({id: sc.id})">Edit SubCategory</a>
            </td>
            <td>
                <button ng-click="controller.deleteSubCategory(sc.id)">Delete SubCategory</button>
            </td>
        </tr>
    </tbody>
</table>